/* ============== 2 вариант SWIPER ============== */
.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.gallary {
  display: flex;
  max-width: 1180px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.gallary .swiper-wrapper {
  box-sizing: content-box;
}

.foto-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.foto-slide img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 380px;
}

.btn-next,
.btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 40px;
  height: 20px;
  z-index: 10;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.btn-next {
  right: -65px;
}

.btn-prev {
  left: -25px;
}

@media (max-width: 1250px) {
  .inner,
  .gallary {
    max-width: 780px;
  }
}

@media (max-width: 950px) {
  .inner,
  .gallary {
    max-width: 320px;
  }
}
